*{
    text-decoration: none;
}

/*Estilo del header*/

header{
    background-color: #000022;
}

.imagenLogo{
    width: 128px;
}

.contactHeader{
    background-color: #000011;
}

.contactHeader a{
    color: #2D8B03;
    text-decoration: none;
}

/*Estilo para los link de los filtros*/

.filters{
    list-style: none;
}

.filters a{
    color: #000;
}

/*Titulo*/

h1{
    color: #4357C8;
}

/*Estilo de la tabla*/

th{
    background-color: #555;
}

td{
    color: #001fd2;
}

.textTdName{
    color: #001fd2;
}

span{
    color: green;
}