*{
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}
body{
    margin: 0;
}

/*Estilo del header*/

header{
    background-color: #03034b;
}

.imagenLogo{
    width: 128px;
}

nav h6 {
    font-size: large;
}

.contactHeader{
    background-color: #000000;
}

.contactHeader a{
    color: #2D8B03;
    text-decoration: none;
}

/*Estilo para los link de los filtros*/

.filters{
    list-style: none;
}

.filters a{
    color: #000;
}

/*Titulo*/

h1{
    color: #4357C8;
}

/*Estilo de la tabla*/

th{
    background-color: #555;
}

td{
    color: #001fd2;
}

.textTdName{
    color: #001fd2;
}

span{
    color: green;
}

/*Producto*/

.solicitar{
    width: 100vh;
    height: 4vh;
    background-color: #4357C8;
}