*{
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}
body{
    margin: 0;
}

/*Estilo del header*/

header{
    background-color: #03034b;
    display: inline-block;
    width: 100%;
}

header nav{
    display: inline-block;
    width: 100%;
    padding-bottom: 15px;
}

.submenu{
    display: inline-block;
}

.submenu i{
    margin-left: 10px;
    color: #4357C8;
}

.submenu i:hover{
    color: blue;
}

.logo{
    display: inline-block;
    margin: 10px;
}

.imagenLogo{
    width: 128px;
}

nav h6 {
    font-size: large;
    display: inline-block;
    margin: 10px;
}

.seeker{
    display: inline-block;
    margin-left: 25%;
}

.register{
    display: inline-block;
    margin-left: 20%;
}

.contactHeader{
    background-color: #000000;
}

.contactHeader a{
    color: #2D8B03;
    text-decoration: none;
}

/*Estilo para los link de los filtros*/



.navFilter{
    display: inline-block;
}

.filters{
    list-style: none;
    margin-left: -40px;
    margin-top: 0;
}

.filters button{
    margin: 0;
    width: 160px;
    height: 80px;
    background-color: #333;
    border: none;
}

.filters a{
    color: #000;
}


/*Titulo*/

h1{
    color: #4357C8;
}

/*Estilo de la tabla*/

th{
    background-color: #555;
}

td{
    color: #001fd2;
}

.textTdName{
    color: #001fd2;
}

span{
    color: green;
}

/*Producto*/

.containerProduct{
    margin: 10px;
    border: 2px solid black;
    width: 400px;
}

.containerProduct img{
    width: 400px;
}

.containerProduct h3{
    text-align: center;
}

.solicitar{
    width: 400px;
    height: 4vh;
    background-color: #4357C8;
}

/* footer */

footer div{
    display: inline-block;
}

.mail-num{
    margin-left: 30%;
}

.socialmedia{
    margin-left: 40%;
}